<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <div class="container">
    <a class="navbar-brand" href="home">© 2020 Copyright </a>

      <!--Social media icons-->
    <a href="https://www.facebook.com/places/Restaurant-in-Jamaica/111046035586548/273819889375819/" class="fa fa-facebook"></a>
    <a href=" https://twitter.com/RestaurantsOfJa" class="fa fa-twitter"></a>
    <a href="https://www.youtube.com/watch?v=lNawCLeDTTg" class="fa fa-youtube"></a>
  </div>


</nav>







