<p>dropdown-menu works!</p>

<!-- <div class="btn-group" mdbDropdown>
  <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect>Action</button>
  <button type="button" mdbDropdownToggle mdbBtn color="danger" class="dropdown-toggle dropdown-toggle-split px-3 waves-light"
    mdbWavesEffect></button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Sign Up</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Place Order</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">View All</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Add New</a>
  </div>
</div> -->

<p>
  Set the <code>container</code> property to "body" to have the dropdown menu be appended to the body instead of
  where it belongs. This option is useful if the dropdown is defined inside an element that clips its contents (i.e.
  <code>overflow: hidden</code>).
</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Items</th>
      <th scope="col">Actions</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>
        Item
        <div>
          <small class="text-muted">Both &ldquo;Actions&rdquo; table cells define an overflow hidden</small>
        </div>
      </td>
      <td class="overflow-hidden">
        <div ngbDropdown container="body">
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Edit</button>
            <button ngbDropdownItem>Duplicate</button>
            <button ngbDropdownItem>Move</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Delete</button>
          </div>
        </div>
        <small class="text-muted">Dropdown uses container "body"</small>
      </td>
      <td class="overflow-hidden">
        <div ngbDropdown>
          <button class="btn btn-outline-primary btn-sm" ngbDropdownToggle>Actions</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Edit</button>
            <button ngbDropdownItem>Duplicate</button>
            <button ngbDropdownItem>Move</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Delete</button>
          </div>
        </div>
        <small class="text-muted">Default dropdown</small>
      </td>
    </tr>
  </tbody>
</table>
