/* You can add global styles to this file, and also import other style files */

nav a.active {
  color: white;
}

.navbar{
  background:  #1976d2 !important;
}

.navbar-brand{
  color:white !important;
}

.nav-link{
  color: whitesmoke !important;
}
